<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>会员登录 | YOHJI YAMAMOTO</title>
    <link rel="stylesheet" href="stylesheets/register.css">
</head>
<body>
    <div class="box">
        <div class="header">
            <div class="headernav">
                <div class="header_entry"></div>
                <div class="header_nav">
                    <ul>
                        <li><a href="/new">NEW新品</a></li>
                        <li id="brand"><a>品牌一览</a>
                            <div class="header_brand">
                                <div class="brand_tiltle">品牌
                                    <div class="brand_tiltle_menu">
                                        <ul>
                                            <li>
                                                <a href="/SYTE">
                                                    <img src="../images/header_nav_brand01.jpg" alt="">
                                                        <p> S'YTE</p>  
                                                 </a>
                                            </li>
                                            <li>
                                                <a href="/GroundY">
                                                    <img src="../images/header_nav_brand02.jpg" alt="">
                                                        <p>GroundY</p>  
                                                 </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <img src="../images/header_nav_brand03.jpg" alt="">
                                                        <p>Y'S</p>  
                                                 </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <img src="../images/header_nav_brand10.jpg" alt="">
                                                        <p>Y'S PINK</p>  
                                                 </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <img src="../images/header_nav_brand09.jpg" alt="">
                                                        <p>Y'S BANG ON!</p>  
                                                 </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <img src="../images/header_nav_brand08.jpg" alt="">
                                                        <p>LIMI feu</p>  
                                                 </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <img src="../images/header_nav_brand05.jpg" alt="">
                                                        <p>discord</p>  
                                                 </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <img src="../images/header_nav_yyhomme.jpg" alt="">
                                                        <p>Yohji Yamamoto HOMME</p>  
                                                 </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <img src="../images/header_nav_brand04.jpg" alt="">
                                                        <p>其他</p>  
                                                 </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li id="men"><a href="/man">男士</a>
                            <div class="header_man">
                                <div class="header_man_tiltle">男士
                                    <div class="header_man_menu">
                                        <ul>
                                            <li>
                                                <a href="">全部</a>
                                            </li>
                                            <li>
                                                <a href="">外套</a>
                                            </li>
                                            <li>
                                                <a href="">毛衫</a>
                                            </li>
                                            <li>
                                                <a href="">衬衫</a>
                                            </li>
                                            <li>
                                                <a href="">针织衫·T恤</a>
                                            </li>
                                            <li>
                                                <a href="">裤装</a>
                                            </li>
                                            <li>
                                                <a href="">半身裙</a>
                                            </li>
                                            <li>
                                                <a href="">连衣裙</a>
                                            </li>
                                            <li>
                                                <a href="">鞋履</a>
                                            </li>
                                            <li>
                                                <a href="">箱包</a>
                                            </li>
                                            <li>
                                                <a href="">配饰</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="header_man_logo">
                                    <img src="../images/header_nav_men.jpg" alt="">
                                </div>
                            </div></li>
                        <li id="women"><a href="/woman">女士</a>
                            <div class="header_women">
                                <div class="header_women_tiltle">女士
                                    <div class="header_women_menu">
                                        <ul>
                                            <li>
                                                <a href="">全部</a>
                                            </li>
                                            <li>
                                                <a href="">外套</a>
                                            </li>
                                            <li>
                                                <a href="">毛衫</a>
                                            </li>
                                            <li>
                                                <a href="">衬衫</a>
                                            </li>
                                            <li>
                                                <a href="">针织衫·T恤</a>
                                            </li>
                                            <li>
                                                <a href="">裤装</a>
                                            </li>
                                            <li>
                                                <a href="">半身裙</a>
                                            </li>
                                            <li>
                                                <a href="">连衣裙</a>
                                            </li>
                                            <li>
                                                <a href="">鞋履</a>
                                            </li>
                                            <li>
                                                <a href="">箱包</a>
                                            </li>
                                            <li>
                                                <a href="">配饰</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="header_women_logo">
                                    <img src="../images/header_nav_women.jpg" alt="">
                                </div>
                            </div></li>
                        <li><a href="/tidings" class="repair1">最新消息</a></li>
                    </ul>
                </div>
                <div class="header_search">
                    <form action="">
                        <input type="text" id="search" value="搜寻">
                        <div class="icon">
                            <ul>
                                <li><a href=""><img src="../images/search.png" alt=""></a> </li>
                                <li><a href=""><img src="../images/wechat.png" alt=""></a></li>
                                <li><a href=""><img src="../images/weibo.png" alt=""></a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
            <div class="header_inner">
                <div class="hearder_directory">
                    <div class="header_btn">
                        <span></span>
                        <span></span>
                        <span></span>
                        <div class="menu">目录</div>
                    </div>
                </div>
                <div class="sitelogo"><a href="/index"><img src="../images/header_logo.png" alt=""></a></div>
                <div class="customer_menu">
                    <ul>
                        <li><a href="">联系我们</a></li>
                        <li><a href="/register">注册</a></li>
                        <li><a href="/login">登录</a></li>
                        <li><a href="">心愿清单</a></li>
                        <li><a href="/shopping">购物车</a></li>
                    </ul>
                </div>
                <div class="Real_time_information">
                    <p>[通知]由于日本黄金周休息时间，5月2日至5月6日，运输暂停。从7日开始。</p>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="headline">注册会员</div>
            <form action="/register/addUser" id="form_customer" method="POST">
                <p class="message">
                    进行会员信息注册。
                    <img src="../images/check.gif" alt="">
                    项目为必须填写
                </p>
                <table class="formdetail_customer">
                    <tbody>
                        <tr>
                            <th>
                                <img class="must" src="../images/check.gif" alt="">
                                电子邮箱
                            </th>
                                
                            <td>
                                <div class="check_mail">
                                    <span>
                                        <input type="text" value="" size="40" name="usermail" maxlength="100" id="mail" onblur="" title="">
                                    </span>
                                    <span class="check_error"><img  src="../images/input_error.gif" alt=""></span>
                                    <span class="check_right"><img  src="../images/input_ok.gif" alt=""></span>
                                </div>
                                <p class="check_tip">*不可使用包含[.@(@是一点)]和[..(两点)]的电邮地址</p>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <img class="must" src="../images/check.gif" alt="">
                                联系电话
                            </th>
                             <td>
                                <div class="check_tel">
                                    <span>
                                        <input type="text" value="" size="40" name="usertel" maxlength="100" id="tel" onblur="" title="" >
                                    </span>
                                    <span class="check_error"><img  src="../images/input_error.gif" alt=""></span>
                                    <span class="check_right"><img  src="../images/input_ok.gif" alt=""></span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="message">
                    ※注册成功后，再次登录网站购物需要邮箱以及密码，请妥善保管您的登录信息。
                </p>
                <table class="formdetail_customer">
                    <tbody>
                        <tr>
                            <th>
                                <img class="must" src="../images/check.gif" alt="">
                                密码
                            </th>
                                
                            <td>
                                <div class="check_password">
                                    <span>
                                        <input type="text" value="" size="40" name="password" maxlength="100" id="password" onblur="" title="">
                                    </span>
                                    <span class="check_error"><img  src="../images/input_error.gif" alt=""></span>
                                    <span class="check_right"><img  src="../images/input_ok.gif" alt=""></span>
                                </div>
                                <p class="check_tip">(请输入6个以上20个以下的英文或阿拉伯数字，密码不可与ID相同)
                                </p>
                                <p class="standby">您可以输入10个以上的字符。</p>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <img class="must" src="../images/check.gif" alt="">
                                会员条款
                            </th>
                             <td>
                                <div class="check_cus">
                                    <span>
                                        <input type="checkbox" value="" size="40" name="cus_agree" maxlength="100" id="cus_agree" onblur="" title="" >
                                        我已阅读并同意会员协议。※查看会员协议<a href="">请点击这里</a> 
                                    </span>
                                   
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <div class="submit">
                <span id="back"><img src="../images/back.gif" alt=""></span>
                <span id="confirm"><img src="../images/confirm.gif" alt=""></span>
            </div>
        </div>
                  
        <div class="bottom">
            <div class="botone">
                <ul>
                    <li><img src="../images/top_brand_syte.png" alt=""></li>
                    <li><img src="../images/top_brand_grandy.png" alt=""></li>
                    <li><img src="../images/top_brand_ys.png" alt=""></li>
                    <li><img src="../images/top_brand_yspink.png" alt=""></li>
                    <li><img src="../images/top_brand_bangon.png" alt=""></li>
                    <li><img src="../images/top_brand_limifeu.png" alt=""></li>
                    <li><img src="../images/top_brand_discord.png" alt=""></li>
                    <li><img src="../images/top_brand_yyhomme.png" alt=""></li>
                </ul>
            </div>
            <div class="footer">
                <div class="footernav">
                    <p>© 2019 THE SHOP YOHJI YAMAMOTO</p>
                    <ul>
                        <li>联系我们</li>
                        <li><img src="../images/ico_sns_wc.png" alt=""></li>
                        <li><img src="../images/ico_sns_wb.png" alt=""></li>
                    </ul>
                </div>
                <div class="footerinner">
                    <ul class="fooone">
                        <li><a>男士</a></li>
                        <li><a>女士</a></li>
                        <li><a>最新消息</a></li>
                        <li><a>网站地图</a></li>
                        <li><a>设计师简介</a></li>
                    </ul>
                    <ul class="fooone">
                        <li><a>店铺信息</a></li>
                        <li><a>常见问题</a></li>
                        <li><a>隐式政策</a></li>
                        <li><a>法律声明</a></li>
                        <li><a>联系我们</a></li>
                    </ul>
                    <ul class="footwo">
                        <li><a>S'YTE</a>​</li>
                        <li><a>GroundY</a></li>
                        <li><a>Y’s</a></li>
                        <li><a>Y's PINK</a></li>
                        <li><a>Y's BANG ON!</a>​</li>
                        <li><a>LIMI feu</a></li>
                        <li><a>discord</a></li>
                        <li><a>YOHJI YAMAMOTO PRODUCE</a></li>
                        <li><a>Yohji Yamamoto HOMME</a></li>
                        <li><a>其他</a></li>
                    </ul>
                    <ul class="foothree">
                        <li class="a1">注册会员</li>
                        <li class="a2"><span>由此注册成会员</span><img src="../images/right.png" alt=""></li>
                        <li class="a3">下载APP</li>
                        <li class="a4"><img src="../images/ico_app_store.png" ></li>
                    </ul>
                    <div class="foofour">YOHJI YAMAMOTO官方网站<img src="../images/footer_arrow.png" alt=""></div>
                </div>
            </div>
        </div>
        <div class="sidemenu_overlay"></div>
        <div class="sidemenu">
            <div class="sidemenu_inner">
                <ul>
                    <li>
                        <div class="sidemenu_men"><a href="">男士</a> </div>
                    </li>
                    <li>
                        <div class="sidemenu_women"><a href="">女士</a> </div>
                    </li>
                </ul>

                <div class="sidemenu_mainmenu">
                  <ul>
                        <li><a href="">NEW新品</a>    
                            <span class="sidemenu_new"><img src="../images/sidemenu_dayu.png" alt="">
                            </span> 
                        </li>
                    
                        <li>
                            <a href="">按品牌搜索</a> 
                            <span class="sidemenu_searchbrand">
                                <img src="../images/sidemenu_dayu.png" alt="">
                            </span>
                            <div class="sidemenu_brand">
                                <ul>
                                    <li>所有品牌 <span><img src="../images/sidemenu_dayu.png" alt=""></span></li>
                                    <li>S'YTE <span><img src="../images/sidemenu_dayu.png" alt=""></span></li>
                                    <li>GroundY <span><img src="../images/sidemenu_dayu.png" alt=""></span></li>
                                    <li>Y' S <span><img src="../images/sidemenu_dayu.png" alt=""></span></li>
                                    <li>Y' s PINK <span><img src="../images/sidemenu_dayu.png" alt=""></span></li>
                                    <li>Y's BNAG ON!<span><img src="../images/sidemenu_dayu.png" alt=""></span></li>
                                    <li>LIMI feu<span><img src="../images/sidemenu_dayu.png" alt=""></span></li>    
                                    <li>discord <span><img src="../images/sidemenu_dayu.png" alt=""></span></li>
                                    <li>Yohji Yamamoto HOMME<span><img src="../images/sidemenu_dayu.png" alt=""></span></li>
                                    <li>其他<span><img src="../images/sidemenu_dayu.png" alt=""></span></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="">按种类搜索</a> 
                            <span class="sidemenu_searchspecies">
                                <img src="../images/sidemenu_dayu.png" alt="">
                            </span>
                            <div class="sidemenu_species">
                                <ul>
                                    <li>外套 <span><img src="../images/sidemenu_dayu.png" alt=""></li>
                                    <li>毛衫 <span><img src="../images/sidemenu_dayu.png" alt=""></li>
                                    <li>衬衫 <span><img src="../images/sidemenu_dayu.png" alt=""></li>
                                    <li>针织衫·T恤 <span><img src="../images/sidemenu_dayu.png" alt=""></li>
                                    <li>裤装 <span><img src="../images/sidemenu_dayu.png" alt=""></li>
                                    <li>半身裙<span><img src="../images/sidemenu_dayu.png" alt=""></li>
                                    <li>连衣裙<span><img src="../images/sidemenu_dayu.png" alt=""></li>    
                                    <li>鞋履 <span><img src="../images/sidemenu_dayu.png" alt=""></li>
                                    <li>箱包<span><img src="../images/sidemenu_dayu.png" alt=""></li>
                                    <li>配饰<span><img src="../images/sidemenu_dayu.png" alt=""></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="">穿搭建议</a>
                               <span class="sidemenu_proposal">
                                   <img src="../images/sidemenu_dayu.png" alt="">
                               </span>
                            <div class="sidemenu_wearproposal">
                                <ul>
                                        <li>S'YTE <span><img src="../images/sidemenu_dayu.png" alt=""></li>
                                        <li>GroundY <span><img src="../images/sidemenu_dayu.png" alt=""></li>
                                        <li>Y' S <span><img src="../images/sidemenu_dayu.png" alt=""></li>
                                        <li>Y' s PINK <span><img src="../images/sidemenu_dayu.png" alt=""></li>
                                        <li>Y's BNAG ON!<span><img src="../images/sidemenu_dayu.png" alt=""></li>
                                        <li>LIMI feu<span><img src="../images/sidemenu_dayu.png" alt=""></li>    
                                        <li>discord <span><img src="../images/sidemenu_dayu.png" alt=""></li> 
                                    </ul>
                            </div>
                        </li>
                        <li><a href="">店铺信息</a>   <span><img src="../images/sidemenu_dayu.png" alt=""></li>
                  </ul>
            
                </div>   
                <div class="sidemenu_submenu">
                    <ul>
                        <li>最新消息</li>
                        <li>心愿清单</li>
                        <li>购物车</li>
                        <li>我的页面</li>
                        <li>常见问题</li>
                        <li>关于特定商业交易法</li>
                        <li>使用条款</li>
                        <li>公司简介</li>
                        <li>隐私政策</li>
                        <li>联系我们</li>
                    </ul>
                </div> 
                <div class="sidemenu_logo"><img src="../images/sidemenu_logo.png" alt=""></div>
                <div class="sidemenu_icon">
                    <ul>
                        <li><a href=""> <img src="../images/ico_sns_wc.png" alt=""></a></li>
                        <li><a href=""> <img src="../images/ico_sns_wb.png" alt=""></a></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="javascripts/register.js"></script>
<script src="javascripts/common.js"></script>
</html>